@charset "UTF-8";
#page{
    background-color: rgb(211, 211, 233);
    display:flex;
    justify-content:center;
    top:0px;
}
#contentflame{
    width:50%;
    min-width:700px;
    min-height:100vh;
    padding: 0 0 20px 0;
    margin: 0;
    background-color: rgb(218, 218, 234);
    color: rgb(74, 74, 88);
    box-shadow: 0 0 20px 10px rgba(148, 148, 171, 0.544);
}
#content{
   width:auto;
   padding: 30px;
   margin: 0 auto;
}

#samunelist{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px 20px;
    width:100%;
    color: rgb(218, 218, 234);
    margin: 0 auto;
}

#samune{
    width:260px;
    height:200px;
    margin: 0 20px 0 20px;
    border-radius: 10px;
}

#samunecontiner{
    display: inline-block;
    width:300px;
    border: none;
    padding: 20px 0;
    border-radius: 20px;
    background-color: rgb(90, 61, 210);
    box-shadow: 5px 5px 10px 1px rgb(148, 148, 171);
    text-decoration: none;
}

#samunetitle{
    width: 100%;
    margin: 0;
    font-size:15px;
    font-weight: bold;
}

#samunetext #taglist #date{
    display: inline;
    font-size: 5px;
}

#samunetext{
    display: inline-flex;
    flex-flow: column;
    gap: 5px;
    margin: 0 5% 0 5%;
    width:90%;
    height: auto;
    color:rgb(218, 218, 234);
}

#samunecontiner #taglist{
	display:flex;
	gap:5px;
}

#samunecontiner #taglist #tag{
    background-color: rgb(218, 218, 234);
    color: rgb(90, 61, 210);;
    display: inline;
    border-radius: 10px;
    padding :5px;
    font-size: 10px;
}
