@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
 }
header{
    background-color: black;
    position: fixed;
    top:0px;
    left: 0px;
    width:50px;
    height: 100%;
}
header #headerbutton{
    width:100%;
    margin: auto;
    background-color: black;
    margin: 10px 0;
}
header #headerbutton #text{
    display: inline-block;

    font-size: 12px;
    width:50px;
    text-align: center;
    text-decoration: none;
    line-height: 15px;
    color: rgb(175, 175, 212);
}

a{
    text-decoration: none;
}

footer{
	margin:20px 0;
	padding:15px;
	border-radius: 0 10px 10px 0;
	background-color: rgb(90, 61, 210);
	box-shadow: 15px 0 20px 1px rgba(148, 148, 171, 0.544);
	color: rgb(218, 218, 234);
}

footer #footerIndex{
	margin:10px;
	font-weight: bold;
}

footer #tag{
	color:rgb(218, 218, 234);
}