@charset "UTF-8";
#page{
    background-color: rgb(211, 211, 233);
    display:flex;
    justify-content:center;
    top:0px;
}
#contentflame{
    width:50%;
    min-width:700px;
    min-height:100vh;
    padding: 0 0 20px 0;
    margin: 0;
    background-color: rgb(218, 218, 234);
    color: rgb(74, 74, 88);
    box-shadow: 0 0 20px 10px rgba(148, 148, 171, 0.544);
}
#content{
    width:auto;
    padding: 5%;
    margin: 0 auto;
}

#content #maintitle{
    display: block;
    font-size: 35px;
    font-weight: bold;
    padding:0;
    margin: 0;
    width:auto;
    border-radius: 10px;
}
#content #clockImg{
    display: inline;
    opacity: 0.5;
    height: 20px;
}

#content #date{
    display: inline-block;
    margin: 0 0 0 5px;
    color: rgba(74, 74, 88, 0.6);
}

#content #subtitle{
    font-size: 20px;
    font-weight: bold;
    padding: 7px 7px 5px 7px;
    margin:0 0 20px 0;
    border-bottom: 4px solid darkorchid;
    border-image: linear-gradient(to right, rgb(82, 82, 204) 0%, darkorchid 100%);
    border-image-slice: 1;
}

#content img{
    max-width: 100%;
    height: auto;
}

#content #text{
    font-size: 15px;
    width:100%;
    margin: 0 0 4px 0;
}

#content #text #writedown{
    list-style-image: url(dot.png);
}

#content #text #writedown li{
    margin:0 0 4px 0;
}

#content #text #cautioncontainer{
    padding:20px 10px;
    border: 5px solid rgb(218, 218, 234);
    box-shadow: 0 0 20px 0px rgb(82, 82, 204) inset,0 0 20px 0px rgb(82, 82, 204);
    margin: 20px 0;
    border-radius: 10px;
    width: 80%;
    display: block;
    text-align: center;
}

#content #text #cautiontext{
    font-weight: bold;
    font-size:20px;
    width: 100%;
    margin: 0%;
}

#content #taglist{
	display:inline-flex;
	gap:5px;
}

#content #taglist #tag{
    background-color: rgb(218, 218, 234);
    color: rgb(90, 61, 210);
    display: inline;
    border-radius: 10px;
    padding :2px;
    font-size: 12px;
}
