@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
 }
 header{
    background-color: black;
    position: fixed;
    top:0px;
    left: 0px;
    width:50px;
    height: 100%;
}
header #headerbutton{
    width:100%;
    margin: auto;
    background-color: black;
    margin: 10px 0;
}

header #headerbutton #text{
    display: inline-block;

    font-size: 12px;
    width:50px;
    text-align: center;
    text-decoration: none;
    line-height: 15px;
    color: rgb(175, 175, 212);
}
#page{
 background-image: url(back.png);
 top:0px;
}
#contentflame{
    width:50%;
    min-width:700px;
    min-height:100vh;
    margin: 0 auto;
    background-color: rgb(62, 62, 75);
    box-shadow: 0 0 40px 25px rgb(36, 36, 53);
}
#content{
    width:auto;
    color: rgb(175, 175, 212);
    padding: 5%;
    margin: 0 auto;
}

#content #maintitle{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    padding:10px;
    margin: 0 0 25px 0;
    width:auto;
    background-color: darkorchid;
    border-radius: 10px;
    box-shadow: 0 -15px 25px -1px rgb(82, 82, 204) inset;
}

#content #subtitle{
    font-size: 20px;
    font-weight: bold;
    padding: 7px 7px 5px 7px;
    margin:0 0 20px 0;
    border-bottom: 4px solid darkorchid;
    border-image: linear-gradient(to right, darkorchid 0%, rgb(82, 82, 204) 100%);
    border-image-slice: 1;
}

#content #text{
    font-size: 15px;
    width:95%;
    margin: 0 0 4px 0;
}

#content #text #writedown{
    list-style-image: url(dot.png);
}

#content #text #writedown li{
    margin:0 0 4px 0;
}

#content #text #caution{
    padding:20px 10px;
    border: 2px solid blueviolet;
    margin: 10px 0;
    border-radius: 10px;
    width: auto;
    display: inline-block;
}

#content #text #cautiontext{
    color: rgb(200, 73, 88);
    font-weight: bold;
    font-size:20px;
    margin: 0 10px;
}

#date{
	color: rgb(119, 119, 143);
    margin: 0 0 10px 0;
    display: block;

}


