<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${artContent.maintitle}"></title>
	<link rel="stylesheet" href="test.css">
</head>
<body>
	<span th:insert="fragment::header"></span>
	<div id="page">
    	<div id="contentflame">
        	<div id="content">
        		<div th:text="|Post: ${artContent.date}|" id="date"></div>
            	<p id="maintitle" th:text="${artContent.maintitle}">もうちょっと長めのタイトル</p>
            	<div th:utext="${artContent.text}"></div>
            </div>
        </div>
    </div>
</body>
</html>