<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<body>
	<!-- ヘッダー -->
	<header th:fragment="header">
		<div id="headerbutton">
	    	<a href="/home" id="text">H<br>o<br>m<br>e</a>
	    </div>
	    <div id="headerbutton">
	    	<a href="https://twitter.com/sztsu2_71828" id="text">S<br>e<br>a<br>r<br>c<br>h</a>
	    </div>
	    <div id="headerbutton">
	    	<a href="fdhjk.html" id="text">t<br>w<br>i<br>t<br>t<br>e<br>r</a>
	    </div>
	    <div id="headerbutton">
	    	<a href="/rootPage" id="text">r<br>o<br>o<br>t</a>
	    </div>
	</header>
	
	<!-- コンテンツフレーム -->
	
	<footer th:fragment="footer">
		<p id="footerIndex">タグ検索</p>
		<div th:each="tag:${tagIndex}">
			<a id="tag" th:href="|search/${tag.key[0]}|" th:text="|${tag.value} (${tag.key[1]})|"></a>
		</div>
	</footer>
</body>