<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" href="artlist.css">
		<link rel="stylesheet" href="head.css">
	</head>
	<body>
		<span th:insert="fragment::header"></span>
		<div id="page">
	    	<div id="contentflame">
	        	<div id="content">
	        		
					<div id="samunelist">
						<div th:each="art:${artList}">
							<a th:href="|art?id=${art.id}|" id="samunecontiner">
					        	<!--  <img th:src="${art.samuneimg}" alt="サムネ" id="samune"> -->
					        	<img th:src="samnail.jpg" alt="サムネ" id="samune">
					        	<div id="samunetext">
					        		<p th:text="${art.maintitle}" id="samunetitle"></p>
					        		<div id="taglist">
					        			<span  th:each="tag:${art.tag}">
					        				<p th:text = "${tag.name}" id="tag"></p>
					        			</span>
					        			<p th:text="${art.date}" id="date"></p>
					        		</div>
					        	</div>
					    	</a>
						</div>
					</div>
				</div>
			</div>
			<span th:insert="fragment::footer"></span>
		</div>
	</body>
</html>