<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>これはてすと</title>
        <link rel="stylesheet" href="test.css">
    </head>
    <body>
        <header>
            <div id="headerbutton">
                <a href="fdhjk.html" id="text">H<br>o<br>m<br>e</a>
            </div>
            <div id="headerbutton">
                <a href="fdhjk.html" id="text">S<br>e<br>a<br>r<br>c<br>h</a>
            </div>
            <div id="headerbutton">
                <a href="fdhjk.html" id="text">t<br>w<br>i<br>t<br>t<br>e<br>r</a>
            </div>
        </header>
        <div id="page">
            <div id="contentflame">
                <div id="content">
                    <p id="maintitle">もうちょっと長めのタイトル</p>
                    <div  id="date"><img src="clock.png" id="clockImg">2022/09/23</div>
                    <p id="subtitle">すこしテスト用にのばす小見出し</p>
                    <div id="text">
                        実際の見た目はこちらのキャプチャー画像の「おすすめ記事」という見出しのようになります。テキストのサイズや太さはちょっといじってますが、下線のグラデについては上記の3行のみです。
                        <ul id="writedown">
                            <li>あああああああああああああ</li>
                            <li>いいいいいいいいいいいいい</li>
                            <li>ううううううううううううう</li>
                        </ul>
                        <div id="cautioncontainer">
                            <p id="cautiontext">ここがポイント！！！！</p>
                        </div>
                        <img src="samnail.jpg">
                    </div>
                </div>

                <div id="samunelist">
                    <div id="samunecontiner">
                        <img src="samnail.jpg" alt="サムネ" id="samune">
                        <div id="samunetext">
                            <p id="samunetitle">タイトル見出しgfsgsgsfgsfs</p>
                            <div id="taglist">
                                <a  id="tag" href="dsdad.html">だださ</a>
                                <a  id="tag" href="dsdad.html">だださ</a>
                                <a  id="tag" href="dsdad.html">だださ</a>
                                <a  id="tag" href="dsdad.html">だださ</a>
                                <p id="date">2022/09/18</p>
                            </div>
                        </div>
                    </div>
                    <div id="samunecontiner">
                        <img src="samnail.jpg" alt="サムネ" id="samune">
                        <div id="samunetext">
                            <p id="samunetitle">タイトル見出しgfsgsgsfgsfs</p>
                            <div id="taglist">
                                <a  id="tag" href="dsdad.html">だださ</a>
                                <a  id="tag" href="dsdad.html">だださ</a>
                                <a  id="tag" href="dsdad.html">だださ</a>
                                <a  id="tag" href="dsdad.html">だださ</a>
                                <p id="date">2022/09/18</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
