<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a th:href="rootPage">管理者ホームへ戻る</a>
	<div th:text="${caution}"></div>
	<form action="toukou" method="post" th:object="${toukou}">
		タイトル<input th:type="text" th:id="maintitle" th:name="maintitle" th:value="*{maintitle}"><br>
		タグ    <input th:type="text" th:id="tag" th:name="tag" th:field="*{tag}"><br>
		本文    <textarea th:type="textarea" cols="50" rows="10" th:id="text" th:name="text" th:field="*{text}"></textarea><br>
		
		<button th:type="submit">投稿</button>
	</form>
</body>
</html>